{
    "log": {
        "_recordingName": "generateThemes returns data",
        "creator": {
            "comment": "persister:fs",
            "name": "Polly.JS",
            "version": "6.0.6"
        },
        "entries": [
            {
                "_id": "5253bbc4e55dc631a9a255c8cd14ad35",
                "request": {
                    "headers": [
                        {
                            "name": "content-type",
                            "value": "application/x-www-form-urlencoded"
                        }
                    ],
                    "method": "POST",
                    "postData": {
                        "mimeType": "application/x-www-form-urlencoded",
                        "params": []
                    },
                    "queryString": [],
                    "url": "https://wise-dev.eu.auth0.com/oauth/token"
                },
                "response": {
                    "content": {
                        "mimeType": "application/json",
                        "size": 806,
                        "text": "{\"access_token\":\"eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCIsImtpZCI6ImwxRThteER3TnJoQ2l4TzZfYUhQRCJ9.eyJpc3MiOiJodHRwczovL3dpc2UtZGV2LmV1LmF1dGgwLmNvbS8iLCJzdWIiOiJhaUl1ODFDVWRrVlRlRDBhUzRHUHpUWDhuMlE1RURIU0BjbGllbnRzIiwiYXVkIjoiaHR0cHM6Ly9kZXYuY29yZS5yZXNlYXJjaHdpc2VhaS5jb20vcHVsc2UvdjEiLCJpYXQiOjE3NDk3MzI0MTgsImV4cCI6MTc0OTgxODgxOCwiZ3R5IjoiY2xpZW50LWNyZWRlbnRpYWxzIiwiYXpwIjoiYWlJdTgxQ1Vka1ZUZUQwYVM0R1B6VFg4bjJRNUVESFMifQ.Hr9GBbKjfVPr8WIXvHNJsdvzFjp-odHLu-LZf0mwDYNtYZ_o0iwJ4cOYtOrEQnPL7YsmOgv9djE3H_IoPMhvZB0eVnDW_t66wcIsQtLPS1_RW0AWHadf9r44jM4pEsuFPVnGR-vr_2PMclbaot_bMUrTA-ZuWPN28XBNpYWkKMdRj7gDv6AC_GkT_B_g_4WjgRnUiRgmWSz4g-7nnXmF-3gdPyT7j8vrvuNTH31OyEfIojtxpgT2NFIqXkmdv93pqhXzilD7lCp5ZJ-9qto3MoSKCRWBfMtHlY1UoyoLMzSJK9EAhuuRdF9rkTic2oEcFLy2z_pQxj57AgkB3_GSFA\",\"expires_in\":86400,\"token_type\":\"Bearer\"}"
                    },
                    ],
                    "headers": [
                        {
                            "name": "content-type",
                            "value": "application/json"
                        },
                        {
                            "name": "x-auth0-l",
                            "value": "0.053"
                        },
                        {
                            "name": "x-auth0-requestid",
                            "value": "38651449b55a4ce53166"
                        },
                        {
                            "name": "x-ratelimit-limit",
                            "value": "300"
                        },
                        {
                            "name": "x-ratelimit-remaining",
                            "value": "299"
                        },
                        {
                            "name": "x-ratelimit-reset",
                            "value": "1749732479"
                        }
                    ],
                    "status": 200,
                    "statusText": "OK"
                },
                "time": 326,
            },
            {
                "_id": "d17df532a7f4f6b33f6e15f8d2fd16c8",
                "request": {
                    "headers": [
                        {
                            "name": "authorization",
                            "value": "Bearer eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCIsImtpZCI6ImwxRThteER3TnJoQ2l4TzZfYUhQRCJ9.eyJpc3MiOiJodHRwczovL3dpc2UtZGV2LmV1LmF1dGgwLmNvbS8iLCJzdWIiOiJhaUl1ODFDVWRrVlRlRDBhUzRHUHpUWDhuMlE1RURIU0BjbGllbnRzIiwiYXVkIjoiaHR0cHM6Ly9kZXYuY29yZS5yZXNlYXJjaHdpc2VhaS5jb20vcHVsc2UvdjEiLCJpYXQiOjE3NDk3MzI0MTgsImV4cCI6MTc0OTgxODgxOCwiZ3R5IjoiY2xpZW50LWNyZWRlbnRpYWxzIiwiYXpwIjoiYWlJdTgxQ1Vka1ZUZUQwYVM0R1B6VFg4bjJRNUVESFMifQ.Hr9GBbKjfVPr8WIXvHNJsdvzFjp-odHLu-LZf0mwDYNtYZ_o0iwJ4cOYtOrEQnPL7YsmOgv9djE3H_IoPMhvZB0eVnDW_t66wcIsQtLPS1_RW0AWHadf9r44jM4pEsuFPVnGR-vr_2PMclbaot_bMUrTA-ZuWPN28XBNpYWkKMdRj7gDv6AC_GkT_B_g_4WjgRnUiRgmWSz4g-7nnXmF-3gdPyT7j8vrvuNTH31OyEfIojtxpgT2NFIqXkmdv93pqhXzilD7lCp5ZJ-9qto3MoSKCRWBfMtHlY1UoyoLMzSJK9EAhuuRdF9rkTic2oEcFLy2z_pQxj57AgkB3_GSFA"
                        },
                        {
                            "name": "content-type",
                            "value": "application/json"
                        }
                    ],
                    "method": "POST",
                    "postData": {
                        "mimeType": "application/json",
                        "params": [],
                        "text": "{\"inputs\":[\"apple\",\"orange\",\"banana\",\"gold\",\"silver\",\"bronze\"],\"fast\":true,\"minThemes\":1,\"maxThemes\":2}"
                    },
                    "queryString": [],
                    "url": "https://dev.core.researchwiseai.com/pulse/v1/themes"
                },
                "response": {
                    "content": {
                        "mimeType": "application/json",
                        "size": 312,
                        "text": "{\"themes\":[{\"shortLabel\":\"Fruits\",\"label\":\"Different types of fruits\",\"description\":\"Responses related to various fruits such as apple, orange, and banana.\",\"representatives\":[\"I like apples and oranges.\",\"Bananas are my favorite fruit.\",\"I enjoy eating a variety of fruits.\",\"Fruits are healthy and tasty.\",\"My diet includes apples, oranges, and bananas.\"]},{\"shortLabel\":\"Metals and Materials\",\"label\":\"Different types of metals and materials\",\"description\":\"Responses related to metals like gold, silver, and bronze.\",\"representatives\":[\"Gold is valuable.\",\"Silver jewelry is beautiful.\",\"Bronze is a versatile alloy.\",\"Metals like gold and silver are used in many applications.\",\"I prefer silver over gold.\"]}],\"requestId\":\"92acfbe9-5ca1-4f34-a089-64a74d3d2ca6\"}"
                    },
                    "headers": [
                        {
                            "name": "apigw-requestid",
                            "value": "MDTaij46joEEMBQ="
                        },
                        {
                            "name": "content-type",
                            "value": "application/json"
                        }
                    ],
                    "status": 200,
                    "statusText": "OK"
                },
                "time": 3838,
            }
        ],
        "pages": [],
        "version": "1.2"
    }
}
