{
    "log": {
        "_recordingName": "compareSimilarity returns flattened and matrix data when doing a cross",
        "creator": {
            "comment": "persister:fs",
            "name": "Polly.JS",
            "version": "6.0.6"
        },
        "entries": [
            {
                "_id": "c3957bd6770428852cc7b9adb90874ff",
                "request": {
                    "headers": [
                        {
                            "name": "authorization",
                            "value": "Bearer eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCIsImtpZCI6ImwxRThteER3TnJoQ2l4TzZfYUhQRCJ9.eyJpc3MiOiJodHRwczovL3dpc2UtZGV2LmV1LmF1dGgwLmNvbS8iLCJzdWIiOiJhaUl1ODFDVWRrVlRlRDBhUzRHUHpUWDhuMlE1RURIU0BjbGllbnRzIiwiYXVkIjoiaHR0cHM6Ly9kZXYuY29yZS5yZXNlYXJjaHdpc2VhaS5jb20vcHVsc2UvdjEiLCJpYXQiOjE3NDk3MjM0NjYsImV4cCI6MTc0OTgwOTg2NiwiZ3R5IjoiY2xpZW50LWNyZWRlbnRpYWxzIiwiYXpwIjoiYWlJdTgxQ1Vka1ZUZUQwYVM0R1B6VFg4bjJRNUVESFMifQ.dpAJcUcHkl8tS2GI4C-uo5cnZO3L4eYa63KAAEBU_cJcagsBokKQYMem2NMpblnsQyoB-7ANLSUME5REA1EFV2Kpqwg69mf3GQYczirNKPlgdt_p-RYTxg6PO6W0gacYxotOXGWv4_a8KOx8W4Bbdt280qVAIOheNw3PdPYp8OIFW_hU2DDwiiNH9QeSVVZinrKmfaGPS-XJBqOAFYKJc1R7Lq5sNI2zD6u0yJRZNv_l5QKsaXJf7ORXbKas7g2LBWH_G31iLz7yTxAhyfY6vTyhJc26Gxq90sn4iQxSdQpjHASjjvDP1-5dn1xnM4BHlubYUQnchz8wteebcJFpgg"
                        },
                        {
                            "name": "content-type",
                            "value": "application/json"
                        }
                    ],
                    "method": "POST",
                    "postData": {
                        "mimeType": "application/json",
                        "params": [],
                        "text": "{\"fast\":true,\"flatten\":false,\"set_a\":[\"test1\",\"test2\"],\"set_b\":[\"testAlpha\",\"testBravo\"]}"
                    },
                    "queryString": [],
                    "url": "https://dev.core.researchwiseai.com/pulse/v1/similarity"
                },
                "response": {
                    "content": {
                        "mimeType": "application/json",
                        "size": 170,
                        "text": "{\"scenario\":\"cross\",\"mode\":\"matrix\",\"matrix\":[[0.545,0.539],[0.525,0.534]],\"n\":2,\"flattened\":[0.545,0.539,0.525,0.534],\"requestId\":\"4a283748-e7c8-4a03-af15-164fe0f878c8\"}"
                    },
                    "headers": [
                        {
                            "name": "apigw-requestid",
                            "value": "MDR5XiotjoEEPDg="
                        },
                        {
                            "name": "content-type",
                            "value": "application/json"
                        }
                    ],
                    "status": 200,
                    "statusText": "OK"
                },
                "time": 1209,
            }
        ],
        "pages": [],
        "version": "1.2"
    }
}
